.contentBg{
    --background: #2f517c; /* fallback for old browsers */
    --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to bottom, #2f517c, #56b4d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0 !important;
    --padding-bootm:0 !important;
  }

.UserimgSection{
    position: relative;
}

.userBadge{
    border-radius: 90px;
    width: 24px;
    height: 24px;
    background: #E0E9F9;
    color: #789FE6;
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    position: absolute;
    top: 31px;
}

.usernameSection{
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
}

.usernameSection h5{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
}

ion-img{
    width: 90%;
    height: 90%;
}
.listSection{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 97%;
}

.borderBottomLine {
    display: block;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #cfcfd1;
    height: 100%;
    left: 21%;
}
.lastSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 73%;
    padding-top:2px;
}
.fontSize{
    font-size: 30px;
}
h5{
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
}
ion-note{
    font-size: 14px;
}

.profile-Pic img
{
     position: absolute;
      border-radius: 45px;
       width: 60px; 
       height:60px; 
       box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
 }