<ion-row style="padding: 10px" align-items-end>
  <ion-col class="ion-activatable" size="6" no-padding align-self-center (click)="openCamera()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="camera"></ion-icon>
    <ion-text>Camera</ion-text>
  </ion-col>
  <ion-col size="6" class="ion-activatable" no-padding align-self-center style="padding-left: 20px" (click)="openGallery()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="photos"></ion-icon>
    <ion-text>Gallery</ion-text>
  </ion-col>
</ion-row>